.post-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    margin: 20px;
}

.preview {
    font-size: 40px;
    margin: 20px;
}

.post {
    position: relative;
    width: 350px;
    height: 350px;
    border: 2px solid cornflowerblue;
    margin: 20px;
    padding: 30px;
}

.post-button-delete {
    position: absolute;
    height: 30px;
    bottom: 5px;
    left: 35%;
    right: 35%;
    background-color: cadetblue;
    cursor: pointer;
}
